/*

COLORS USAGE

hsl(33, 56%, 84%);
hsl(107, 20%, 81%);
hsl(203, 15%, 70%);
hsl(22, 52%, 32%);

*/


/* Default */
	/* Typography */
* {
	font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
}
h1 {
	font-size: 2.369em;
}
h2 {
	font-size: 1.777em;
}
h3 {
	font-size: 1.333em;
}
p {
	font-size: 1em;
	padding: .3em 1em;
}
a {
	color: white;
	text-decoration: none;
	font-weight: 100;
}
a:hover {
	background-color: #ff5500;
}
a.active {
	background-color: #ff5500;
}

h1, h2, h3, p, a, li {
	line-height: 1.7;
	margin: 0;
}

ul {
	padding: 0;
	margin-left: 1em;
}
li {
	list-style-type: none;
}
li * {
	word-wrap: break-word;
}
li:hover {
	box-shadow: 1px 1px 4px #ff5500;
	cursor: pointer;
}
li img {
	position: relative;
	transition: .3s;
}
li:hover img {
	height: 150%;
}

/* HEADER */
header {
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	background-color: #333333;
	box-shadow: 0px 2px 2px -1px rgba(0,0,0, .5);
	z-index: 1;
}
header a {
	align-self: flex-end;
	padding: .3em 0em;
	margin: 1em 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #ff5500;
	font-size: 1.7em;
	font-weight: 600;

	&:hover {
		color: #fff;
	}
}

aside {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 0;
	background-color: #333333;
	z-index: 999;
}
nav {
	width: 100%;
}
nav ul {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 0;
	padding: 0;
}
nav ul li {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	box-shadow: 0px 2px 2px -1px rgba(0,0,0, .5);
	list-style-type: none;
}
ul li a {
	padding: .5em .7em;
	display: block;
	text-align: center;
}
ul {
	max-width: 100vw;

	li {
		max-width: 100vw;
	}
}

figure {
	max-width: 6em;
	max-height: 6em;
	overflow: hidden;
	margin: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
figure {
	border-radius: 10px; 

	img {
		width: auto;
		height: 100%;
		margin: 0 auto;
	}
}

/* BODY */
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column wrap;
}
main {
	display: flex;
	flex-flow: column wrap;
	padding: 1em;
	background-color: hsl(0, 0%, 100%);
	min-height: 86.6vh;
	transition: .5s;
	opacity: 1;
	flex: 7.5;
}
main section {
	width: 100%;
}

/* FOOTER */
footer {
	width: 100%;
	margin-top: -1em;
}
footer p {
	text-align: center;
}


/*----------------------

SECTION GLOBAL

----------------------*/
section {
	> h1 {
		text-transform: uppercase;
		color: #ff5500;
		font-weight: 300;
	}
}



/*----------------------

SOUNDCLOUD

----------------------*/
.song-overview {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	* {
		word-wrap: break-word;
	}

	h1 {
		margin: 1em 0;
		text-align: center;
	}
}
.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.songs {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	max-width: 30em;
	margin: 0; 
	border-top: 1px solid #ff5500;

	* {
		word-wrap: break-word;
	}

	h1 {
		margin: 1em 0;
		text-align: center;
	}
}
.songs figure {
	margin-top: 2em;
}
.songs div {
	padding: 0px 1em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 2em;

	.title {
		font-weight: 500;
	}
	p {
		padding: 0;

		span {
			color: #ff5500;
		}
	}
}

/*----------------------

SEARCH

----------------------*/
#searchForm {
	height: 70vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
#searchForm form {
	height: 16em;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
}
#searchForm label {
	color: #ff5500;
	font-weight: 600;
	font-size: 2em;
}
#searchForm input {
	font-size: 2em;
	padding: .3em .7em;
	max-width: 5em;
}
#searchForm input:focus {
	outline: 2px solid #ff5500;
}
#searchForm button {
	font-size: 2em;
	border: none;
	background-color: #ff5500;
	padding: .1em 1em;
	color: white;
}
#searchForm button:hover {
	cursor: pointer;
	background-color: #dd5500;
}
#searchForm button:focus {
	box-shadow: 3px 3px 3px #333;
	outline: none;
}

.errorPage h1 {
	color: #dd5500;
	font-size: 7em;
}
.errorPage p {
	font-size: 2em;
}


/*----------------------

SPINNER

----------------------*/
.loading {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.loading img {
	align-self: center;
	width: 10em;
	height: 10em;
}


/*----------------------

SONGS DETAIL

----------------------*/
.song-detail {
	max-width: 30em;
	margin: 0 auto;
	border-top: 1px solid #dd5500;
	border-bottom: 1px solid #dd5500;
	padding: 1em 0;
	margin-top: 2em;

	display: flex;
	flex-flow: column wrap;

	* {
		word-wrap: break-word;
	}

	figure {
		margin: 0;
		margin-right: 2em;
	}

	section {
		flex: 1;
	}

	p {
		padding: 1em 0;
	}

	span {
		color: #dd5500;
	}
}
@media(min-width: 700px) {
	.song-detail {
		flex-flow: row wrap;
		align-items: center;

		* {
			word-wrap: break-word;
		}
		div {
			width: 100%;
		}
	}	
}

/*----------------------

JS

----------------------*/
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-out {
	animation: fadeOut 3s;
}
.fade-in {
	animation: fadeIn 3s;
}

@keyframes toLeft {
	to {
		transform: translateX(-100px);
	}
}
@keyframes toRight {
	to {
		transform: translateX(100px);
	}
}
.left {
	animation: toLeft .3s;
}
.right {
	animation: toRight .3s;
}



/*----------------------

MEDIA QUERIES

----------------------*/
@media(min-width: 450px) {
	#searchForm input {
		max-width: 100%;
	}
}
@media(min-width: 700px) {
	.song-overview {
		flex-flow: column wrap;
	}
	.songs {
		flex-flow: row nowrap;
	}
	body {
		flex-flow: row wrap;
	}
	aside {
		flex: 1.5;
	}
}






