/* Default */
	/* Typography */
h1 {
	font-size: 2.369rem;
}
h2 {
	font-size: 1.777rem;
}
h3 {
	font-size: 1.333rem;
}
p {
	font-size: 1rem;
	padding: 1em;
}
a {
	font-size: 1rem;
}
h1, h2, h3, p, a, li {
	line-height: 1.7;
}

ul {
	padding: 0;
}
li {
	list-style-type: none;
}



/* NAV */
body > header {

}
header nav {

}
nav ul {

}
nav ul li {
	
}
nav ul a {

}
	

/* BODY */
body {
	margin: 0;
	padding: 0;
}
main {
	display: flex;
	flex-flow: column wrap;
}
main section {
	width: 100%;
}
#start {

}
#best-practices {

}


/* FOOTER */
footer {
	width: 100%;
}
footer p {
	text-align: center;
}